@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;600;700;800&family=Rubik:ital,wght@0,400;0,700;1,400&display=swap');

:root {
    /* Resize default font for browsers from 16px to 10px */
    font-size: 62.5%;

    /* CSS Variables */
    --main-color: #FFF2F1;
    --secondary-color: #A69658;
    --transition-color: #404E4F;
    --transition-color-hover: #626F6F;
    --input-padding: 0.4rem 0 0.4rem 0;
    --header-font-size: 2.4rem;
    --subheader-font-size: 1.8rem;
    --default-font-size: 1.6rem;
    --small-font-size: 1.4rem;
}

body {
    /* Set default size of font for page back to 16px */
    /* This will allow easy conversion of rem values */
    font-size: 1.6rem;  
    font-family: 'Assistant', sans-serif;
    background-color: var(--secondary-color);
}

header {
    text-align: center;
}

#title {
    font-size: 3.6rem;
}

header p {
    font-size: var(--header-font-size);
    line-height: 2.4rem;
}

main {
    /* Style the border */
    border: 0.5rem;
    border-style: solid;
    border-radius: 2rem;
    border-color: var(--transition-color);
    background-color: var(--main-color);

    /* Center the element and the text within */
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    padding: 2.4rem;
    width: 80vw;
}

input[type="checkbox"]:hover, input[type="radio"]:hover {
    transform: scale(1.2);
}

button[type="submit"]:hover {
    background-color: var(--transition-color-hover);
}

.form-group {
    margin-bottom: 1.6rem;
}

.form-group p {
    font-weight: bold;
    margin: 0 0 0.5rem 0;
}

.optional {
    font-size: var(--small-font-size);
    font-style: italic;
}

.form-group #name-label, #email-label, #number-label {
    font-weight: bold;
    margin: 0 0 0.5rem 0;
}

.instruction-text {
    font-weight: bold;
    text-decoration: underline;
    margin: 1.6rem 0 1rem 0;
}

.form-group input {
    font-size: var(--default-font-size);
    padding: var(--input-padding);
}

.form-group input[type="text"], input[type="email"], input[type="number"] {
    display: block;
    width: 100%;
}

.form-group select {
    font-size: var(--default-font-size);
    padding: var(--input-padding);
    width: 100%;
}

.radio-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto;    
}

.radio-container p {
    grid-area: 1 / 1 / 1 / span 5;
}

.checkbox-container {
    display: flex;
    flex-direction: column;
}

.form-group textarea {
    font-size: var(--default-font-size);
    width: 100%;
    min-height: 10rem;
    resize: vertical;
}

.form-group button {
    margin-top: 1.6rem;
    background-color: var(--transition-color);
    color: #FFFFFF;
    font-size: var(--subheader-font-size);
    min-width: 10rem;
    min-height: 4rem;
}

@media only screen and (min-width: 800px) {
    main {
        /* Adjust size of the main border */
        border: 0.7rem;
        border-style: solid;
        border-radius: 2rem;
        border-color: var(--transition-color);
        background-color: var(--main-color);

        /* Align all text to left, allows room for input controls */
        text-align: left;
    }

    .radio-container {
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: auto auto;
    }

    .radio-container p {
        grid-area: 1 / 1 / 1 / span 10;
    }

    .submit-group {
        text-align: center;
    }
}
